/********* Texte sur image ***********/
.texte-sur-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 500px;
}

.texte-sur-image>* {
	position: relative;
}

.texte-sur-image>img {
	position: absolute;
	inset: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
    opacity: 35%;
}

.texte-sur-image h1 {
    color: #1e273f;
    font-size: 50px;
}

.texte-sur-image p {
	font-family: 'Roboto', sans-serif;
    color: #1e273f;
    font-size: 25px;
	font-weight: bold;
}

